.about {
    float: left;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.about_1{
    background-image: url("images/landing.jpg");
    width: 100%;
    height: 300px;
    position: absolute;
    background-repeat: no-repeat;
    
   
    
}
.about_1::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #F15A29;
    opacity: 0.5;
}
.about_1 h2{
    color:#fff;
    position:relative;
    z-index:1;
    text-align: center;
}
.icon div{
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0 6px 0;
    margin-left: 2%;
    
    
}
/*
.about_1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/
#img{
    box-sizing: border-box;
    margin-left: 45%;
    
}
#food{
    display: flex;
    opacity: 0.9;
    padding: 61px;
    width: 100%;
    height: 40%;
    margin-left: 0px;
    z-index: 2;
    
}
#food h3{
    color: chartreuseS;
}
#container1{
    position: relative;
    text-align: center;
    color: white;
}
#centered {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.all{
    margin-left:0 ;
    float: left;
}
.happy, .party{
    width: 270px;
    height: 100px;
    
}
.happy{
    background-color: grey;
}
.party{
    background-color: red;
}
#product div{
   
   
}
#product>div{
   
}
.fast{
    padding-top: 50px;
    margin-left: 230px;
    padding-top:40px;
    padding-left:15px;
    padding-right:15px;
  
}
.fast1{
  
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    box-shadow: 2px 3px 8px grey;
    float: left;
    display: flex;    
    flex-direction: column;
    
}

#text{
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    display: flex;    
    flex-direction: column;
    
}
#text p{
 display: block;
}
.fast3{
    padding-top: 50px;
    margin-left: 230px;
    padding-top:70px;
    padding-left:15px;
    padding-right:15px;
}
.fast2{
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    box-shadow: 2px 3px 8px grey;
    display: flex;
    flex-direction: row;
    
}
#text1{
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    float: left;
    
}
section{
    background-image: url("images/subscribe.jpg");
    background-repeat: no-repeat;
    padding:0 50px 0 50px;
    height: 50vh;
    display: flex;
    align-items: center;

   
}
#burger1{
    position: relative;
    width: 45%;
    padding: 100px;
    background-color: white;
    height: 20px;
    display: flex;
    margin-left: 200px;
    
    /*padding: 10px 20px 10px 20px;
    margin:20px 20px 20px 20px ;*/
   /* background-color: green;
    height: 70%;
    width: 70%;
    margin-top: 30px;
    
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    height: 70%;
    width: 70%;
   
   
    
}
#burger1 img{
    
   display: flex;
   margin-top: 40px;
}
#burger1>img{
    float: left;


}
#burger1 nav{
    display: flex;
    flex-direction: row;
    
    padding: 10px;
}
nav{
    background-color: grey;
    height: 10px;
    align-items: center;
    

}


.navnav{
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li{
   display: inline;
   
   
}

#nav ul{
  margin-right: 40px;
}
.p{
    background-color: white;
    float: left;
 
}
*/