.about {
    float: left;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.about_1{
    background-image: url("images/landing.jpg");
    width: 100%;
    height: 300px;
    position: absolute;
    background-repeat: no-repeat;
    
   
    
}
.about_1::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #F15A29;
    opacity: 0.5;
}
.about_1 h2{
    color:#fff;
    position:relative;
    z-index:1;
    text-align: center;
}
.icon div{
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0 6px 0;
    margin-left: 2%;
    
    
}
/*
.about_1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/
#img{
    box-sizing: border-box;
    margin-left: 45%;
    
}
#food{
    display: flex;
    opacity: 0.9;
    padding: 61px;
    width: 65%;
    height: 40%;
    margin-left: 0px;
    z-index: 2;
    
}


#container1{
    position: relative;
    text-align: center;
    color: white;
}
#centered {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.all{
    margin-left:0 ;
    float: left;
}
.happy, .party{
    width: 200px;
    height: 100px;
    
}
.happy{
    background-color: grey;
    padding-right: 40px;
}
.party{
    background-color: #F15A29;
    padding-right: 40px;
    padding-top: 0;
}
#product div{
   
   
}
#product>div{
   
}
.fast{
    padding-top: 50px;
    margin-left: 230px;
    padding-top:40px;
    padding-left:15px;
    padding-right:15px;
  
}
.fast1{
  
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    box-shadow: 2px 3px 8px grey;
    float: left;
    display: flex;
    flex-direction: column;
    
}

#text{
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    display: flex;    
    flex-direction: column;
    
}
#text p{
 display: block;
}
.fast3{
    padding-top: 50px;
    margin-left: 230px;
    padding-top:70px;
    padding-left:15px;
    padding-right:15px;
}
.fast2{
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    box-shadow: 2px 3px 8px grey;
    display: flex;
    flex-direction: row;
    
}
#text1{
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    float: left;
    margin-bottom: 10px;
    
}
#text1 a{
    color: #F15A29;
    border: 1px solid #F15A29;
    text-decoration: none;
    }

#text a{
    color: #F15A29;
    border: 1px solid #F15A29;
    text-decoration: none;
    width: 120px;
}
section{
    background-image: url("images/foodsBg.jpg");
    background-repeat: no-repeat;
    height:300px ;
    align-items: center;

   
}
#nav{
    width: 50.8%;
    margin-left: 200px;
    padding-top: 50px;
    
}
#nav p{
    color: #F15A29;
}
#burger1{
    position: relative;
    width: 50.8%;
    background-color: white;
    height: 90px;
    display: flex;
    margin-left: 200px;
    flex-direction: row;
    padding-bottom: 50px;
}

#nav ul{
   list-style: none;
   background-color: lightgrey;
   text-align: center;
   padding: 0;
   margin: 0;
   margin-left: 200px;
   

}
#nav nav{
    margin: 0;
    background-color: white;
   
}
#nav li{
    display: inline-block;

}
#nav a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 17px;
    font-family: Helvetica;
    
}
#nav a:hover {
    background: #F15A29;;
    transition: .4s;
}

#burger1 img{
  
  
    margin: 0 2px 5px;
    align-items: center;
}
#burger1>img{
    display: flex;
    margin-left: 20px;
}.names{
    display: flex;
    margin-top: 80px;
    
}
.photo-name {
    /*margin-top: 245px;*/
    /*padding: 0.5em;*/
    text-align: center;
    color: #F15A29;
    margin-top: 100px;
    /*background-color: #666666;*/
}


.customers{
    padding-top: 50px;
    margin-left: 230px;
    padding-top:10px;
    padding-left:15px;
    padding-right:30px;
  
}
.customers1{
    width: 300px;
    float: left;
    display: flex;
    flex-direction: column;
}
.customers2{
  
    width: 170px;
    float: left;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    
}

#text1{
    width: 300px;
    align-items: center;
    height: 170px;
    
    
    
}
#text1 h3, #text2 h3{
    color: #F15A29;;
}
#text2{
    width: 300px;
    display: flex;    
    flex-direction: column;   
}
.sub{
    
    background-image: url("images/subscribe.jpg");
    background-repeat: no-repeat;
    height:200px ;
    margin-top: 150px;
}
form {
    position: absolute;
    transform: translate(-50%, -50%);
    color: blanchedalmond;
    margin-left: 500px;
    margin-top: 100px;
}
input{
    position: relative;
    font-size: 20px;
    transition: .5s;
    
}
input[type="submit"]{
      
      background: #F15A29;
      color: white;

}
input[type="text"]{
      
    background: black;
    opacity: 0.4;
    color: white;

}
footer{
    background-color: #F15A29;
    height: 200px;
    padding: 0;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;

}
.footer img{
    border-radius: 20px;
}

/*
.customers{
    padding-top: 50px;
    margin-left: 230px;
    padding-top:40px;
    padding-left:15px;
    padding-right:15px;
}
.customers3{
  
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-bottom: 400px;
}
.customers2{
  
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    display: flex;
    flex-direction: row;
    
}
.customers1{
  
    background-color: whitesmoke;
    width: 270px;
    border: 10px solid whitesmoke;
    padding: 2px 2px 2px px;
    box-shadow: 2px 3px 8px grey;
    flex-direction: ;
    margin-right: 200px;
     
    here */
    


    /*padding: 10px 20px 10px 20px;
    margin:20px 20px 20px 20px ;*/
   /* background-color: green;
    height: 70%;
    width: 70%;
    margin-top: 30px;
    
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    height: 70%;
    width: 70%;
   
   
    
}
#burger1 img{
    
   display: flex;
   margin-top: 40px;
}
#burger1>img{
    float: left;


}
#burger1 nav{
    display: flex;
    flex-direction: row;
    
    padding: 10px;
}
nav{
    background-color: grey;
    height: 10px;
    align-items: center;
    

}


.navnav{
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li{
   display: inline;
   
   
}

#nav ul{
  margin-right: 40px;
}
.p{
    background-color: white;
    float: left;
 
}
*/